@use "./variables.scss" as *;

main{
    .jumbo{
        height: 430px;
        overflow: hidden;
      }
      
      .current_series{
        color: $light;
        background-color: $accent;
        width: max-content;
        padding: 0.5rem 1rem;
        transform: translate(0, -80%);
      }
      
      .load{
        font-weight: 500;
        color: $light;
        background-color: $accent;
        width: max-content;
        padding: 0.5rem 5rem;
        border: none;
        margin: 2rem 0.5rem;
      }
}